.Satisfaction-Container {
  flex-grow: 1;
  margin-top: 0px;
  width: auto;
}
.Satisfaction-TextContainer {
  width: 60%;
  margin-left: 15px;
  text-align: center;
}
.Percentage {
  font-size: 2.7em;
  font-weight: bold;
  color: #0D4747;
}
.Percentage-Text {
  font-size: 1.1em;
  font-weight: bold;
  color: #004A4A;
  padding-bottom: 5px;
  border-bottom: 1px solid #bbbbbb;
}
.Separator-Line {
  border-color: #bbbbbb;
}
.Review-Number {
  margin-top: 5px;
  font-size: 0.7em;
  color: #434343;
}
