.App {
  text-align: center;
  background-color: #e6e6e6;
}
.MainContainer {
  margin: auto;
  padding-top: 2vw;
  padding-bottom: 2vw;
  width: 95%;
}
.Container {
  padding: 5px 0 5px 0;
  background-color: #fbfbfb;
}
